

.bars-background {
    margin: 1px;
    width: 500px;
    height: 500px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;

}

.bars-valuesintime-container {

    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;

}

.bars-valuesintime-container > ul {

    list-style: none;
    padding-left: 15px;
    width: 15%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.bar-styles {
    width: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0;

}

.bar-styles > div {
    background-color: blue;
    height: 4%;

}